@model informationSystem.Models.Ders

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="DERS_KODU" class="control-label"></label>
                <input asp-for="DERS_KODU" class="form-control" />
                <span asp-validation-for="DERS_KODU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DERS_ADI" class="control-label"></label>
                <input asp-for="DERS_ADI" class="form-control" />
                <span asp-validation-for="DERS_ADI" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DURUM" /> @Html.DisplayNameFor(model => model.DURUM)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="KREDI" class="control-label"></label>
                <input asp-for="KREDI" class="form-control" />
                <span asp-validation-for="KREDI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
