<html>
@model informationSystem.Models.Ogrenci

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="Create.cshtml.css">
</head>

<h1>Create</h1>

<h4>Ogrenci</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OGR_NO" class="control-label"></label>
                <input asp-for="OGR_NO" class="form-control" />
                <span asp-validation-for="OGR_NO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KIMLIK_ID" class="control-label"></label>
                <input asp-for="KIMLIK_ID" class="form-control" />
                <span asp-validation-for="KIMLIK_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MUFREDAT_ID" class="control-label"></label>
                <input asp-for="MUFREDAT_ID" class="form-control" />
                <span asp-validation-for="MUFREDAT_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn" />

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</html>