
@model informationSystem.Models.Ogrenci

<html>
    @{
    ViewData["Title"] = "Ogrencim";
}


<div class="container">
   
<table width="200" border="1">
  
    <tr>
      <th scope="row"><a class="nav-link text-dark" asp-area="" asp-controller="Kimliks" asp-route-id="@ViewData["user_kimlik_id"]" asp-action="Details">Kimlik Bilgilerim</a></th>
    </tr>
    <tr>
      <th scope="row"><a class="nav-link text-dark"asp-area="" asp-controller="Iletisims" asp-route-id="" asp-action="Details">İletişim Bilgilerim</a>&nbsp;</th>
    </tr>
    <tr>
      <th scope="row"><a class="nav-link text-dark"asp-area="" asp-controller="MufredatDerslers" asp-route-id="" asp-action="Create">Ders Kayıt</a>&nbsp;</th>
    </tr>
 
</table>
	</div>

    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}