<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Admin Paneli</title>
</head>

<body font-family=Arial>

    <div class="align-content-center">
        <div class="row">@ViewData["user_id"]</div>
<table class="align-content-center" width="200" border="1">
  
    <tr>
      <th scope="row"><a href="ogrencis/Create.cshtml">&nbsp;YENİ KAYIT&nbsp;</a></th>
    </tr>
    <tr>
      <th scope="row">&nbsp;<a href="ogrencis/Index.cshtml">ÖĞRENCİ GÖRÜNTÜLE</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="Index.cshtml">&nbsp;MÜFREDAT</a></th>
    </tr>
    <tr>
      <th scope="row">&nbsp;</th>
    </tr>
  
</table>
</div>
</body>
</html>
