<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Admin Paneli</title>
</head>

<body font-family=Arial>

    <div class="align-content-center">
        <div class="row">@ViewData["user_id"]</div>
<table class="align-content-center" width="200" border="1">
  
    <tr>
      <th scope="row"><a class="nav-link text-dark"asp-area="" asp-controller="Ogrencis" asp-route-id="" asp-action="Create">Yeni Kayıt</a>&nbsp;</th>
    </tr>
    <tr>
      <th scope="row">&nbsp;<a class="nav-link text-dark" asp-area="" asp-controller="Ogrencis" asp-route-id="" asp-action="Index">Öğrenci Listele</a>&nbsp;</th>
    </tr>
    <tr>
      <th scope="row"> <a class="nav-link text-dark" asp-area="" asp-controller="Mufredats" asp-route-id="" asp-action="Index">Müfredat İşlemleri </a>&nbsp;</th>
    </tr>
    <tr>
      <th scope="row">&nbsp;</th>
    </tr>
  
</table>
</div>
</body>
</html>
